RewriteEngine on
RewriteBase /

# Redirect uf.se to ufs.se
RewriteCond %{HTTP_HOST} ^uf.se [NC]
RewriteRule (.*) https://ufs.se%{REQUEST_URI} [R=301,L]

# Redirect to https
RewriteCond %{HTTP:HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# Rewrite away from www.*
RewriteCond %{HTTP_HOST} ^www\. [NC]
RewriteRule (.*) https://ufs.se%{REQUEST_URI} [R=301,L]

# Add HSTS header
Header add Strict-Transport-Security "max-age=31536000"

# Serve files if they exist
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Serve default WP stuff on default urls
RewriteRule ^(wp-(admin|includes).*) wp/$1 [L]
RewriteRule ^(.*\.php)$ wp/$1 [L]

# Redirect all other stuff to index
RewriteRule . index.php [L]
